.root {
  display: flex;
  gap: 30px;

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    a {
      width: 45px;
      height: 45px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      cursor: pointer;
      color: #fe5f1e;
      text-align: center;

      &:hover {
        background: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background: #fe5f1e;
        color: #fff;
      }
    }
  }
}
